{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block content %}
<div>
    <h1>Hello {{ controller_name }}! ✅</h1>
    <p>Link to <a href="/rout/demonstration">RoutDemonstrationController</a></p>
    <p>Link to <a href="/url-coder">get short code for URL</a></p>
</div>
{% endblock %}
