{% extends 'url_coder/index.html.twig' %}

{% block title %}Add new {{ parent() }}{% endblock %}
{% block breadcrumb %}<a href="{{ path("url_coder_index") }}">{{ parent() }}</a>/Add new{% endblock %}
{% block contentContainer %}
    <div>
        <h1>Add new URL</h1>
        <form action="/url-coder/get-data" method="post">
            <div>
                <label for="url">Please input url:</label>
                <input type="text" id="url" name="url">
            </div>
            <div>
                <label for="non_unique">Non unique code</label>
                <input type="checkbox" id="non_unique" name="non_unique">
            </div>
            <input class="btn btn-primary" type="submit" value="Get code">
        </form>
    </div>
{% endblock %}
