{% extends 'url_coder/url-coder-base.html.twig' %}

{% block title %}Codes list {{ parent() }}{% endblock %}
{% block contentContainer %}
    <div>
        <div class="page-title">
            <h1>Url-code list</h1>
{#            ✅#}
            <a class="btn btn-primary btn-add-new" href="{{ path('url_coder_add_new') }}">Add new code</a>
        </div>
        <table>
            <tr>
                <th>URL</th>
                <th>Code</th>
                <th>Url for share</th>
                <th>Action</th>
            </tr>
            {% for urlCode in urlCodeList %}
                <tr>{% include 'url_coder/short-item-information.html.twig' %}</tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
