{% extends 'url_coder/url-coder-base.html.twig' %}

{% block title %}Codes list {{ parent() }}{% endblock %}
{% block breadcrumb %}Codes list{% endblock %}
{% block contentContainer %}

<div class="example-wrapper">
    <h1>Url-code list✅</h1>
    <a href="{{ path('url_coder_add_new') }}">Add new code</a>
    <ol>
        {% for urlCode in urlCodeList %}
            <li>{% include 'url_coder/item-information.html.twig' %}</li>
        {% endfor %}
    </ol>

</div>
{% endblock %}
