{% extends 'url_coder/index.html.twig' %}

{% block title %}Item statistics {{ parent() }}{% endblock %}
{% block breadcrumb %}<a href="{{ path("url_coder_index") }}">{{ parent() }}</a>/Item statistics{% endblock %}

{% block contentContainer %}
<div class="example-wrapper">
    <h1>Item statistics for {{ urlCode.url }}</h1>
    {% include 'url_coder/item-information.html.twig' %}
    <p>Link to <a href="/url-coder">Main page</a></p>
</div>
{% endblock %}
