{% extends 'base.html.twig' %}
{% block stylesheets%}
    {{ parent() }}
    <style>
        .section {
            display: flex;
        }
        .advertising-left {
        }
        .advertising-right {
        }
        .advertising {
            width: 10%;
            background: #d6fff2;
            min-height: 500px;
        }
        .main {
            width: 80%;
            margin: auto;
            background: #d2e2ff;
            min-height: 500px;
            padding: 5px 20px;
        }
        .page-title {
            display: flex;
            justify-content: space-between;
            text-align: center;
        }
        .btn {
            height: 38px;
        }
        tr:not(:first-child) {
            border-bottom: black solid 1px;
            line-height: 95px;
        }
        .action-button,
        .get-buttons {
            display: flex;
            flex-direction: column;
            row-gap: 5px;
        }
        .url-code-favicon {
            width: 30px;
            height: 30px;
            margin-bottom: -8px;
        }
        .url-code-url {
            line-height: 30px;
        }
        table {
            width: 100%;
        }
        th {
            text-align: center;
        }
    </style>
{% endblock %}


{% block title %} :: UrlCoder{% endblock %}
{% block breadcrumb %}Codes list{% endblock %}
{% block content %}
    <div class="content-container">{% block contentContainer %}{% endblock %}</div>
    <script>
        function copyText(id) {
            let copyText = document.getElementById("link-to-copy-" + id);
            copyText.innerText;
            navigator.clipboard.writeText(copyText.textContent);
            alert("Copied the text: " + copyText.innerText);
        }
    </script>
{% endblock %}