{% extends 'base.html.twig' %}

{% block title %}Hello RoutDemonstrationController!{% endblock %}

{% block content %}
<div>
    <h1>Hello {{ controller_name }}! ✅</h1>
    <form action="/rout/show-input-text" method="get">
        <label for="word">Please input some word:</label>
        <input type="text" id="word" name="word">
        <input type="submit" value="Show the input word">
    </form>
    <p>Link to <a href="/">MainController</a></p>
</div>
{% endblock %}
