{% extends 'base.html.twig' %}

{% block title %}Hello RoutDemonstrationController!{% endblock %}

{% block content %}
<div>
    <p>You input this {{string}}</p>
    <a href="/rout/demonstration">Back</a>
    <p>Link to <a href="/">MainController</a></p>
</div>
{% endblock %}
